// Colors
$color-accent: #d8042a;
$color-accent-hover: #bb0123;
$color-primary-shade: #1a191e;
$color-secondary-shade: #2f3034;
$color-tertiary-shade: #626365;
$color-light-white: #ffffff;
$color-dark-black: #000000;
$color-success: #19d862;

// Font Sizes
$font-size-large: 40px;
$font-size-mid: 25px;
$font-size-regular: 18px;
$font-size-small: 12px;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
