.skeleton {
  width: 100vw;
  height: 100svh;
  padding: 50px;
  margin-bottom: 50px;

  // animation: loading 2s ease-in-out 0s infinite alternate both running;

  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-iteration-count: infinite;

  &__header {
    width: 100%;
    height: 100%;
    background-color: $color-skeleton-primary-shade;
    border-radius: 20px;
    position: relative;

    &__movie {
      position: absolute;
      bottom: -50px;
      z-index: 4;
      width: 60%;
      max-width: 1000px;
      min-width: 350px;
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 20px;
      left: 50%;
      transform: translateX(-50%);

      &__poster {
        width: 100%;
        aspect-ratio: 1 / 1.5;
        background-color: $color-skeleton-secondary-shade;
        border-radius: 20px;
      }

      &__info {
        width: 100%;

        &__title {
          height: 40px;
          width: 80%;
          border-radius: 10px;
          background-color: $color-skeleton-secondary-shade;
          margin-bottom: 20px;
        }
        &__paragraph-line {
          height: 20px;
          width: 100%;
          border-radius: 6px;
          background-color: $color-skeleton-secondary-shade;
          margin: 10px 0px;

          &:last-of-type {
            width: 60%;
          }
        }
      }
    }
  }
}