@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 350px 0;
  }
}


@mixin skeletonAnimation($mainColor, $secondaryColor) {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background-color:  $secondaryColor;
  background-image: linear-gradient(to right,  $mainColor 8%,  $secondaryColor 18%, $mainColor 45%);
  background-size: 900px 104px;
}

.skeleton {
  .media-card-placeholder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__poster {
      display: block;
      width: 100%;
      aspect-ratio: 3 / 4;
      border-radius: 25px;
      @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
    }
    &__title {
      width: 70%;
      height: 20px;
      border-radius: 6px;
      @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
    }
  }
  .featured-media {
    &__banner {
      width: 100%;
      aspect-ratio: 15 / 8;
      border-radius: 25px;
      @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
    }
  }
  .movie-details {}
  .episode-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__banner {
      display: block;
      width: 100%;
      aspect-ratio: 3 / 4;
      border-radius: 25px;
      @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
    }
    &__title {
      width: 70%;
      height: 20px;
      border-radius: 6px;
      @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
    }
  }
  .article-placeholder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__banner{
      display: block;
      width: 100%;
      aspect-ratio: 15 / 9;
      border: 15px;
      border-radius: 15px;
      @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
    }
    &__line {
      width: 70%;
      height: 20px;
      border-radius: 6px;
      @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
    }
  }
  .featured-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    &__banner {
      width: 100%;
      aspect-ratio: 15 / 9;
      border-radius: 20px;
      @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
    }
    &__text {
      background: unset;
      animation: unset;
      &__heading {
        width: 100%;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 6px;
        @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
      }
      &__p {
        width: 100%;
        height: 15px;
        border-radius: 3px;
        opacity: 0.6;
        margin-bottom: 6px;
        @include skeletonAnimation($color-skeleton-secondary-shade, $color-skeleton-primary-shade);
        &:last-of-type {
          width: 60%;
        }
      }
    }
  }
}
/*
.skeleton {
  &.movie-details {
    animation: none !important;
    .movie-details__header {
      width: 100%;
      height: 100vh;
      border-radius: 20px;
      position: relative;
      @include skeletonAnimation($color-skeleton-primary-shade);
      &__movie {
        position: absolute;
        bottom: 20px;
        z-index: 4;
        width: 60%;
        max-width: 1000px;
        min-width: 350px;
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 20px;
        left: 50%;
        transform: translateX(-50%);
        &__poster {
          width: 100%;
          aspect-ratio: 1 / 1.5;
          //background-color: $color-skeleton-secondary-shade;
          @include skeletonAnimation($color-skeleton-secondary-shade);
          border-radius: 20px;
        }
        &__info {
          width: 100%;
          &__title {
            height: 40px;
            width: 80%;
            border-radius: 10px;
            background-color: $color-skeleton-secondary-shade;
            margin-bottom: 20px;
          }
          &__paragraph-line {
            height: 20px;
            width: 100%;
            border-radius: 6px;
            background-color: $color-skeleton-secondary-shade;
            margin: 10px 0;
            &:last-of-type {
              width: 60%;
            }
          }
        }
      }
    }
  }
  &.article-placeholder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > .article-placeholder__banner{
      display: block;
      width: 100%;
      aspect-ratio: 15 / 9;
      border: 15px;
      border-radius: 15px;
    }
    > .article-placeholder__line {
      width: 70%;
      height: 20px;
      border-radius: 6px;
    }
  }
  &.featured-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    > .featured-article__banner {
      width: 100%;
      aspect-ratio: 15 / 9;
      border-radius: 20px;
    }
    > .featured-article__text {
      background: unset;
      animation: unset;
      .featured-article__text__heading {
        width: 100%;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 6px;
      }
      .featured-article__text__p {
        width: 100%;
        height: 15px;
        border-radius: 3px;
        opacity: 0.6;
        margin-bottom: 6px;
        &:last-of-type {
          width: 60%;
        }
      }
    }
  }
}
*/